### all ignore ###
/*
/.**

### not ignore ###
!/.zshrc
!/.zshenv
!/.zfunc/
/.zfunc/**  # ディレクトリは管理したいけど中身はいらないときはこんな感じ
!/.zsh/
!/.zsh/dircolors
!/.zsh/rc/
!/.zsh/rc/**
!/.zsh/zkbd/
!/.zsh/zkbd/**
!/.zsh/zfunc/
!/.zsh/zfunc/**
!/.zsh/completion/
/.zsh/completion/**
!/.virc
!/.vimrc
!/.vim/
!/.vim/*/
!/.vim/rc/
!/.vim/rc/**
!/.vim/ftplugin/**
!/.vim/ftdetect/**
!/.vim/template/**
!/.vim/snippets/**
!/.vim/after/**
!/.vim/init.vim
!/.vim/coc-settings.json
!/.bin/
!/.bin/**
!/.bin.local
!/.tmux.conf
!/.tmux/
!/.tmux/conf/
!/.tmux/conf/**
!/.tmux/log/
!/.gdbinit
!/.conkycolors/
!/.conkycolors/**
!/.i3/
!/.i3/**
/.i3/config
/.i3/config.local
!/.github/**
!/.ideavimrc
!/.Xmodmap
!/.Xresources
!/.xinitrc
!/.xprofile
!/.xsessionrc
!/.config/
!/.config/**
!/.gitignore_global
!/.gitconfig_shared

!/README.md
!/LICENSE
!.gitignore
!.gitkeep